SESSDATA = "63dcAAAAAAAAAAAAAAAAAAAAAAAA6*81" # 登录 b 站账号之后，从 cookies 中获得, 当前爬虫实际不需要登录，因此不填写也可以
CSRF = "33af55AAAAAAAAAAAAAAAAAAAAAAA1cf"
MYSQL_ADDRESS = '127.0.0.1'
MYSQL_PORT = '3306'
MYSQL_USER = 'bilibili'
MYSQL_PASSWORD = 'bilibili'
DATABASE_NAME = 'bilibili'
SPM_ID = "333.85AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA2.4"  # 从请求的 refer 字段中获得